In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = {'name':['a','b','c',None],
       'age':[22,21,None,None],
       'salary':[3400,2100,4000,None],
       'time':[None,None,None,None]}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

   name   age  salary  time
0     a  22.0  3400.0  None
1     b  21.0  2100.0  None
2     c   NaN  4000.0  None
3  None   NaN     NaN  None

In [6]:
df.isnull().sum()

name      1
age       2
salary    1
time      4
dtype: int64

In [14]:
df.isnull().sum().sum()

np.int64(8)

In [10]:
(df.isnull().sum()/df.shape[0])*100

name       25.0
age        50.0
salary     25.0
time      100.0
dtype: float64

In [13]:
(df.isnull().sum().sum()/(df.shape[0]*df.shape[1]))*100

np.float64(50.0)

In [19]:
df['Size']= ['small','medium','large','small']

In [20]:
df

   name   age  salary  time    Size
0     a  22.0  3400.0  None   small
1     b  21.0  2100.0  None  medium
2     c   NaN  4000.0  None   large
3  None   NaN     NaN  None   small

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
label_encode = LabelEncoder()

In [28]:
df['Size_enc']= label_encode.fit_transform(df['Size'])

In [29]:
df

   name   age  salary  time    Size  Size_enc
0     a  22.0  3400.0  None   small         2
1     b  21.0  2100.0  None  medium         1
2     c   NaN  4000.0  None   large         0
3  None   NaN     NaN  None   small         2

In [30]:
from sklearn.preprocessing import OneHotEncoder

In [31]:
OHE = OneHotEncoder()

ValueError: Expected a 2-dimensional container but got <class 'pandas.core.series.Series'> instead. Pass a DataFrame containing a single row (i.e. single sample) or a single column (i.e. single feature) instead.