In [2]:
import pandas as pd

In [6]:
data = {'Name' : ['a','b','c','d'],
       'Age' : [12,17,25,11],
       'category' : ['Small','Medium','Large','Small']}

df = pd.DataFrame(data)

from sklearn.preprocessing import LabelEncoder

label_enc = LabelEncoder()

df['category_enco'] = label_enc.fit_transform(df['category'])

df

  Name  Age category  category_enco
0    a   12    Small              2
1    b   17   Medium              1
2    c   25    Large              0
3    d   11    Small              2