In [2]:
import pandas as pd

data = {'Name' : ['a','b','c','d'],
        'Age' : [12,17,25,11],
        'category' : ['Low','Medium','High','Low']}

df = pd.DataFrame(data)
print(df)

  Name  Age category
0    a   12      Low
1    b   17   Medium
2    c   25     High
3    d   11      Low

In [16]:
df_encoded = pd.get_dummies(df,columns=['category'],dtype=int)

In [17]:
df_encoded

  Name  Age  category_High  category_Low  category_Medium
0    a   12              0             1                0
1    b   17              0             0                1
2    c   25              1             0                0
3    d   11              0             1                0